In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('BTCUSDT-bookTicker-2024-02-05.csv')

In [3]:
df.head()

,update_id,best_bid_price,best_bid_qty,best_ask_price,best_ask_qty,transaction_time,event_time
0,3932256034651,42570.3,0.821,42570.4,7.207,1707091200006,1707091200012
1,3935039505208,42852.1,11.398,42852.2,0.191,1707146647156,1707146647163
2,3932256034756,42570.3,0.821,42570.4,9.604,1707091200008,1707091200014
3,3935039505771,42852.1,11.211,42852.2,0.191,1707146647157,1707146647166
4,3932256034998,42570.3,0.821,42570.4,7.207,1707091200010,1707091200017

In [8]:
df['transaction_time'] = pd.to_datetime(df['transaction_time'], unit='ms')

In [9]:
df.head()

,update_id,best_bid_price,best_bid_qty,best_ask_price,best_ask_qty,transaction_time,event_time
0,3932256034651,42570.3,0.821,42570.4,7.207,2024-02-05 00:00:00.006,1707091200012
1,3935039505208,42852.1,11.398,42852.2,0.191,2024-02-05 15:24:07.156,1707146647163
2,3932256034756,42570.3,0.821,42570.4,9.604,2024-02-05 00:00:00.008,1707091200014
3,3935039505771,42852.1,11.211,42852.2,0.191,2024-02-05 15:24:07.157,1707146647166
4,3932256034998,42570.3,0.821,42570.4,7.207,2024-02-05 00:00:00.010,1707091200017

In [10]:
df['event_time'] = pd.to_datetime(df['event_time'], unit='ms')

In [11]:
df.head()

,update_id,best_bid_price,best_bid_qty,best_ask_price,best_ask_qty,transaction_time,event_time
0,3932256034651,42570.3,0.821,42570.4,7.207,2024-02-05 00:00:00.006,2024-02-05 00:00:00.012
1,3935039505208,42852.1,11.398,42852.2,0.191,2024-02-05 15:24:07.156,2024-02-05 15:24:07.163
2,3932256034756,42570.3,0.821,42570.4,9.604,2024-02-05 00:00:00.008,2024-02-05 00:00:00.014
3,3935039505771,42852.1,11.211,42852.2,0.191,2024-02-05 15:24:07.157,2024-02-05 15:24:07.166
4,3932256034998,42570.3,0.821,42570.4,7.207,2024-02-05 00:00:00.010,2024-02-05 00:00:00.017